/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #EAE7E2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.movies-list{
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.movies-list img{
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0,0,0,.25);
}

@media screen and (min-width: 1200px){
  .movies-list{
    grid-template-columns: repeat(5, 1fr);
  }
}

.movie-split{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.movie-split .block{
  font-size: 2em;
  text-align: left;
  padding: 1em;
  color: #2a2727;
}

.movie-split img.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  opacity: .25;
  filter: blur(5px);
}

.movie-split .block ul{
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  list-style: none;
}